.Footer {
    width: 100%;
    background-color: #414536;
    padding: 100px 7%;
    display: flex;
    justify-content: space-between;
}

.Footer .left {
    width: 30%;
}

.left .logo-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-name .left-logo {
    width: 20%;
}

.logo-name .name {
    font-size: 1.5rem;
    color: white;
}

.left .para {
    color: rgb(133, 130, 130);
    font-size: 1.2rem;
    line-height: 25px;
}

.left .social-linkDiv {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-linkDiv .social-item {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ad343e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* Middle Css */

.Footer .middle {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.middle-1st .page {
    color: white;
    font-size: 1.3rem;
}

.middle-1st .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.footer-menu a {
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
}


/* Right */

.Footer .Right {
    width: 30%;
}

.Right .Follow {
    color: white;
    font-size: 1.3rem;
}

.Right .images {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.images .row {
    width: 100%;
    display: flex;
    gap: 15px;
}

.row .img {
    width: 100%;
}

.img img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 576px) {
    .Footer {
        flex-direction: column;
    }
    .Footer .left {
        width: 100%;
    }
    .Footer .middle {
        width: 100%;
        margin-top: 50px;
        justify-content: start;
        gap: 50px;
    }
    .Footer .Right {
        display: none;
    }
}